@page "/users"

@inherits UserListProcess

<div class="btn-group">
    <AddNewButtonComponent Caption="Create User" OnClick="GoCreateUserPage" />
</div>

@if(Users is not null)
{
    <table class="table table-hover table-sm">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">İsim Soyisim</th>
                <th scope="col">Email Adres</th>
                <th scope="col">Oluşturulma Tarihi</th>
                <th scope="col">Durum</th>
                <th scope="col">#</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Users)
            {
                string spanClass = "badge rounded-pill bg-" + (user.IsActive ? "success" : "danger");
                <tr>
                    <td>@user.Id</td>
                    <td>@user.FullName</td>
                    <td>@user.EmailAddress</td>
                    <td>@user.CreatedDate</td>
                    <td><span class="@spanClass"> @(user.IsActive ? "Active" : "Passive")</span></td>
                    <td>
                        <CustomEditButtonComponent IsSmall="true" Caption="" OnClick="@(() => GoUpdateUserPage(user.Id))" />
                    </td>
                </tr>
            }
        </tbody>
    </table>
}